<div class="row align-items-center dv-form" >
    <div class="col-12 primeng-datatable-container div-form-table" [busyIf]="primengTableHelper.isLoading">
        <h5> {{l('ListAsset')}}</h5>
        <!---->
        <p-table #dataTableAsset dataKey="id" editMode="row" (onLazyLoad)="getAssetOut($event)"
            [value]="primengTableHelper.records" [rowHover]="true" [lazy]="true" [paginator]="false"
            styleClass="p-datatable-gridlines" selectionMode="single" [(selection)]="selectedAsset" 
            (onRowSelect)="OnRowSingleClick($event)">
            <ng-template pTemplate="header">
                <tr class="row-th-height">
                    <th>
                        {{'STT' | localize}}
                    </th>
                    <th pSortableColumn="assetName" class="col-asset-name">
                        {{'AssetName' | localize}}
                    </th>
                    <th pSortableColumn="tagCode">
                        {{'TagCode' | localize}}
                    </th>
                    <!-- <th pSortableColumn="seriNumber">
                        {{'SeriNumber' | localize}}
                    </th> -->
                    <th pSortableColumn="total">
                        {{'Total' | localize}}
                    </th> 
                    <th pSortableColumn="effectiveFrom" class="effective-from-column">
                        {{'EffectiveFrom' | localize}}
                    </th>
                    <th pSortableColumn="effectiveTo" class="effective-to-column">
                        {{'EffectiveTo' | localize}}
                    </th>

                    <th pSortableColumn="inDateTimeModal" class="effective-to-column">
                        {{'InDateTimeModal' | localize}}
                    </th>
                    <th pSortableColumn="outDateTimeModal" class="effective-to-column">
                        {{'OutDateTimeModal' | localize}}
                    </th>

                    <th style="text-align: center;">
                        {{'#' | localize}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr class="row-td-height" [pSelectableRow]="record">
                    <td style="width: 10px; text-align: center;">
                        <span class="p-column-title"> {{'STT' | localize}}</span>
                        {{rowIndex+1+indexShort}}
                    </td>
                    <td class="td-asset-name">
                        {{record.assetName}}
                    </td>
                    <td class="td-tag-code">
                        <span class="p-column-title"> {{'TagCode' | localize}}</span>
                        {{record.tagCode}}
                    </td>
                    <!-- <td>
                        <span class="p-column-title"> {{'SeriNumber' | localize}}</span>
                        {{record.seriNumber}}
                    </td> -->
                    <td class="td-total">
                        <span class="p-column-title"> {{'Total' | localize}}</span>
                        {{record.total}}
                    </td> 
                    <td class="td-date-format td-center">
                        <span class="p-column-title effective-from-column"> {{'EffectiveFrom' | localize}}</span>
                        {{record.effectiveDateFrom | luxonFormat:'dd/LL/yyyy'}}
                    </td>
                    <td class="td-date-format td-center">
                        <span class="p-column-title effective-to-column"> {{'EffectiveTo' | localize}}</span>
                        {{record.effestiveDateTo | luxonFormat:'dd/LL/yyyy'}}
                    </td>
                    <td class="td-date-format td-center">
                        <span class="p-column-title effective-from-column"> {{'InDateTimeModal' | localize}}</span>
                        {{record.inDateTime | luxonFormat:'HH:mm dd/LL/yyyy'}}
                    </td>
                    <td class="td-date-format td-center">
                        <span class="p-column-title effective-from-column"> {{'OutDateTimeModal' | localize}}</span>
                        {{record.outDateTime | luxonFormat:'HH:mm dd/LL/yyyy'}}
                    </td>

                    <td class="last_column_list_asset_io" *ngIf="isIn">
                        <button (click)="bringModal(record.id)" pButton pRipple type="button"
                             class="p-button-sm p-button-raised td-btn-width p-button-success">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </td>
                    <td class="last_column_list_asset_io" *ngIf="!isIn">
                        <button (click)="bringModal(record.id)" pButton pRipple type="button"
                            class="p-button-sm p-button-raised td-btn-width" icon="fa fa-sign-in">
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData' | localize}}
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getAssetOut($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
            </span>
        </div>
    </div>
</div>

<DetailHistoryAssetInOut #DetailHistoryAssetInOut [typeRequest]="typeRequest" (modalReloadLoadDetail)="closeEmpty($event)">
</DetailHistoryAssetInOut>