<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ListAsset' | localize">
            <div role="actions">
                <button (click)="create()" pButton pRipple type="button" class="p-button-raised" icon="fa fa-plus"
                    label="{{l('Add')}}">
                </button>
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle mr-1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-excel"></i> {{"ImportManyAsset" | localize}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                        <a href="javascript:;" 
                                class="no-padding">
                                <span class="fileinput-button">
                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                        (onError)="onUploadExcelError()"
                                        chooseLabel="{{'ImportFromExcel' | localize}}">
                                    </p-fileUpload>
                                </span>
                            </a>

                        <span class="dropdown-item-text text-muted pl-3" href="#">
                            <small
                                [innerHTML]="l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportMstAsset.xlsx>' + l('ClickHere') + '</a>')">
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        </sub-header>
        <div [class]="containerClass" [busyIf]="isLoading">
            <div class="card card-custom gutter-b">
                <div class="card-body search-body-input">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-5 col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-text left-text sp-width-modal"> {{'AssetGroupName' |
                                            localize}}</span>
                                        <p-dropdown class="p-propdown-input" name="selectAssetGroup" [options]="listAssetGroupsDropDown" [(ngModel)]="assetGroupId"
                                            optionLabel="label" optionValue="value" [filter]="true" filterBy="label" 
                                            placeholder="">
                                        </p-dropdown>
                                    </div>
                                </div> 
                                <div class="col-xl-4 col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-text left-text sp-width-modal"> {{'AssetName' |
                                            localize}}</span>
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchByAssetName')"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-3">
                                    <button (click)="getAsset()" pButton pRipple type="button" class="p-button-raised">
                                        <i class="fa fa-search mr-1"></i>
                                        {{'Search' | localize}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col-12 primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <h6> {{l('ListAsset')}}</h6>
                            <p-table #dataTable (onLazyLoad)="getAsset($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                styleClass="p-datatable-gridlines" [rowHover]="true" [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{'STT' | localize}}
                                        </th>
                                        <th pSortableColumn="assetname">
                                            {{'AssetName' | localize}}
                                        </th>
                                        <th pSortableColumn="assetgroupname">
                                            {{'AssetGroupName' | localize}}
                                        </th>
                                        <!-- <th pSortableColumn="tagCode-column">
                                            {{'TagCode' | localize}}
                                        </th> -->
                                        <th style="text-align: center; width: 160px;">
                                            {{'#' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                                    <tr>
                                        <td style="width: 10px; text-align: center;">
                                            <span class="p-column-title"> {{'STT' | localize}}</span>
                                            {{rowIndex+1+indexShort}}
                                        </td>
                                        <td>
                                            <span class="p-column-title"> {{'AssetName' | localize}}</span>
                                            {{record.assetName}}
                                        </td>
                                        <td>
                                            <span class="p-column-title"> {{'AssetGroupName' | localize}}</span>
                                            {{record.assetGroupName}}
                                        </td>
                                        <!-- <td class="tagCode-column">
                                            <span class="p-column-title"> {{'TagCode' | localize}}</span>
                                            {{record.tagCode}}
                                        </td> -->
                                        <td class="last_column_asset_table ">
                                            <button (click)="edit(record.id)" pButton pRipple type="button"
                                                class="p-button-sm p-button-raised" icon="fa fa-edit" label="{{l('')}}">
                                            </button>
                                            <button pButton pRipple type="button" label="{{l('')}}" icon="fa fa-trash"
                                                (click)="delete(record.id)"
                                                class="p-button-sm p-button-raised p-button-danger">
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAsset($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <CreateOrEditAsset #CreateOrEditAsset (modalSave)="getAsset()" [isLoading]="isLoading"></CreateOrEditAsset> 
        <tem-asset-import #TemAssetImport (modalClose)="getAsset()"></tem-asset-import>
    </div>
</div>