<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-header-employees-learned">
                <h5 class="modal-title" style="margin-left: 15px;">
                    <span *ngIf="isSavingEmployeesLearned">{{l("ListEmployeesLearnedSafetyImport")}}</span>
                    <span *ngIf="!isSavingEmployeesLearned">{{l("ListEmployeesLearnedSafetyImportError")}}</span>
                </h5>
                <button type="button" style="margin-right: 1% !important;" class="close" (click)="close()"
                    [attr.aria-label]="l('Close')">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>

            <div class="modal-body modal-boddy-employees-learned">
                <div [class]="" [busyIf]="isLoading">
                    <div class="card card-custom gutter-b">
                        <div class="card-body"> 
                            <div class="row align-items-center">
                                <div class="col-12 primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable [scrollable]="true" scrollHeight="1000px"
                                        [value]="primengTableHelper.records"
                                        rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                        styleClass="p-datatable-gridlines" [rowHover]="true" [lazy]="true"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [value]="primengTableHelper.records"
                                        rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [resizableColumns]="true"
                                        [autoLayout]="true">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 50px;">
                                                    {{'STT' | localize}}
                                                </th>
                                                <th pSortableColumn="employeesname">
                                                    {{'EmployeesName' | localize}}
                                                </th>
                                                <th pSortableColumn="identitycard">
                                                    {{'IdentityCard' | localize}}
                                                </th>
                                                <th pSortableColumn="gender" class="col-gender">
                                                    {{'Gender' | localize}}
                                                </th>
                                                <th pSortableColumn="phoneNumber">
                                                    {{'PhoneNumber' | localize}}
                                                </th>
                                                <th pSortableColumn="address">
                                                    {{'Address' | localize}}
                                                </th>
                                                <th pSortableColumn="address">
                                                    {{'VenderName' | localize}}
                                                </th>

                                                <th pSortableColumn="personInCharge">
                                                    {{'PersonInCharge' | localize}}
                                                </th>

                                                <th pSortableColumn="personInCharge">
                                                    {{'ImagePerson' | localize}}
                                                </th>

                                                <th pSortableColumn="validateError" style="width: 300px;">
                                                    {{'ValidateError' | localize}}
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                                            <tr>
                                                <td style="width: 50px;">
                                                    <span class="p-column-title"> {{'STT' | localize}}</span>
                                                    {{rowIndex+1}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title"> {{'EmployeesName' |
                                                        localize}}</span>
                                                    {{record.employeesName}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title"> {{'IdentityCard' |
                                                        localize}}</span>
                                                    {{record.identityCard}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title col-gender"> {{'Gender' |
                                                        localize}}</span>
                                                    {{record.gender}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title"> {{'PhoneNumber' |
                                                        localize}}</span>
                                                    {{record.phoneNumber}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title"> {{'Address' |
                                                        localize}}</span>
                                                    {{record.address}}
                                                </td>
                                                <td>
                                                    <span class="p-column-title"> {{'VenderName' |
                                                        localize}}</span>
                                                    {{record.venderName}}
                                                </td>

                                                <td>
                                                    <span class="p-column-title"> {{'PersonInCharge' |
                                                        localize}}</span>
                                                    {{record.personInCharge}}
                                                </td>

                                                <td>
                                                    <img [src]="'data:image/jpg;base64,' + record.image" width='90' height='90'>
                                                </td>

                                                <td style="color: rgb(167, 17, 17); width: 300px;">
                                                    <span class="p-column-title"> {{'ValidateError' |
                                                        localize}}</span>
                                                    {{record.validate}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{'NoData' | localize}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-master">
                <div role="actions" class="row">
                    <button  type="button" class="btn btn-light-primary" (click)="close()"><i
                        class="fa fa-times"></i>{{"CancelModal" | localize}}</button>
                </div>
                <button type="submit" class="btn btn-primary" (click)="saveAll()" [disabled]="!isSavingEmployeesLearned"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span>
                </button>
            </div>
        </div>
    </div>
</div>