.dv-mg-top{
    margin-top: 100px;
}

.i-icon-format{
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dv-icon-warning{
    text-align: center;
}

.body-agree
{
    text-align: center;
    height: 350px;
    padding: 19px;
    border-radius: 5px;
    border: 13px solid #e7e7e7;
}

.div-box{
    border-style: dashed;
    height: 100%;
    border-color: rgb(255, 174, 1);
    text-align: center;
}

.dv-message{
    padding: 11px 30px 0px 30px;
    margin-top: 20px;
}

.btn-agree{
    margin-top: 10px;
}

/* .dv-rim{
    border: 5px solid red;
} */

.height-btn
{
    height: 30px !important;
}

.cancel-btn
{
    height: 31px !important;
    padding-top: 5px;
    margin-right: 7px;
}